//variables
$primary-color: green;
$secondary-color: white;
$font-stack: Arial, sans-serif;

.home-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $secondary-color;
}

h1 {
    font-family:'Montserrat', sans-serif ;
    font-style: italic;
    padding-left: 5%;
    text-align:justify;
    justify-content: flex-start;
}

.description {
    font-family: $font-stack;
    padding-left: 10px;
}

.search-bar-container {
    display: flex;
    justify-content: flex-end;
    color: $secondary-color;
    margin: 20px;    
}

.carousel-container {
    margin-top: 60px;
}