.shopping-list-page {
    margin: 0;
    padding: 20px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
}

.lists-container {
    margin-left: 20px;
}

.shopping-list-card {
    margin-bottom: 20px;
    max-width: 350px;
}

