.shopping-list-page {
    margin: 0;
    padding: 20px;
}

.lists-container {
    margin-left: 20px;
}

.shopping-list-card {
    margin-bottom: 20px;
    max-width: 350px;
}

.header-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    background-color: green;
    
    .title {
        font-family:'Montserrat', sans-serif ;
        font-style: italic;
        color: white;
        margin-left: 2rem;
    }

    .button-div {
        margin-right: 2rem;
    }

    .button {
        margin-right: 0rem;
        background-color: transparent;
    }
}
